﻿@{
    ViewBag.Title = "Home Page";
    AjaxOptions ondq2 = new AjaxOptions { UpdateTargetId = "AjaxGetter" };
}
@if (Convert.ToBoolean(Session["isCookie"]))
{
   <p> @Session["isCookie"]</p>
   
      @Html.Action("LogOn", new {Email=Session["CookieEmail"],Password=Session["CookiePass"] })
        
   
}





<div id="InformBlock" >
&nbsp;
</div>
<div id="LinkAndLogin">
<div id="LinkBarReg">
    Registration
</div>
   
@using (@Ajax.BeginForm("LogOn", "Home", new AjaxOptions { UpdateTargetId = "AjaxGetter" }, new { name = "LoginForm" }))
{
   
<div id="LoginBar">
    Email:<br />
   @Html.TextBox("Email")
    <br />
   Password:<br />
   @Html.TextBox("Password", "", new { type = "password" })
    <input type="submit" id="NewSubmit1" class="NewSubmit" value="Enter" />
  <div id="BRemember" >@Html.CheckBox("Remember", false, new {style="clear:both; border:none;",disabled="disabled" }) Remember me</div> 
    <div id="ifRegistrate">
         Password again:<br />
   @Html.TextBox("Password2", "", new { type = "password" })
   
           <br />Name:<br />
   @Html.TextBox("Name")
                  <br /> Surname:<br />
   @Html.TextBox("Surname")
         <input type="submit" id="NewSubmit2" class="NewSubmit" value="Enter" />
    </div>
   

     
    
</div>
    
}
        </div>
<span id="AjaxGetter" > </span>

@*<div id="StepBar">
StepBar

</div> *@
  

   

