﻿
#LoginBar {  width:325px;
             padding:2px;
             margin:0;
             position:absolute;
             margin-left:25px;
             background-color:rgba(0, 0, 0, 0.08);
}

#StepBar {   margin-top:750px; 
             height:30px; 
             border:1px solid black;
             width:100%;
}
/* #NewSubmit { background-color: rgba(48, 239, 64, 0.39); 
             width:60px;
             float:right;
             height:100px;
             margin:2px;
             margin-top:13px;
             cursor:pointer;
}
    */
#NewSubmit1 { background-color: rgba(48, 239, 64, 0.39); 
             width:307px;
             height:29.7px;
             
             margin-top:10px;
             padding-top:3px;
               cursor:pointer;
}
    
#NewSubmit1:hover {background-color: rgba(75, 174, 247, 0.57);
    }
#NewSubmit2 { background-color: rgba(48, 239, 64, 0.39); 
             width:307px;
             height:29.7px;
             margin:auto;
             margin-top:10px;
             padding-top:3px;
               cursor:pointer;
}
    
#NewSubmit2:hover {background-color: rgba(75, 174, 247, 0.57);
    }
#LinkBarReg { -webkit-transform:rotate(270deg);
               padding:2px;transform:rotate(270deg);
               width:100px; 
               float:left;
               position:absolute;
               margin-top:40px;
               margin-left:-40px; 
               background-color:rgba(255, 226, 0, 0.72);
               cursor:pointer;
               text-align:center;
}
#LinkBarReg:hover {  background-color:rgba(255, 164, 0, 0.67);
                     


                     
}


#LinkAndLogin {margin:auto; 
               margin-top:150px; 
               width:420px;
               padding:2px; 
           
           

}
#ifRegistrate {display:none;
}

#InformBlock { width:250px; 
               opacity:0; 
               padding:5px;  
               margin:auto;
}

#AjaxGetter {display:none;
}

#CabinetPhoto {width:117px;
               height:170px;
               border:1px solid black;
               float:left;
               padding:3px;
}
#PersonalBaseInfo {width:117px;
                   height:170px;
                  float:right;
                   padding:3px;
               word-wrap:break-word;
}
#Statistics {border:1px solid black; 
            
            
             padding:3px;
}
#StatisticsInfo{  margin-top:3px;
                  padding:3px;
}
#Settings {border:1px solid black; 
           margin-top:3px;
          
           padding:3px;
}
#SettingsInfo{margin-top:3px;
              padding:3px;
}
#Exit{ border:1px solid black; 
       margin-top:3px;padding:3px;
}
#Exit:hover{background-color:rgba(79, 180, 255, 0.66);
            cursor:pointer;
}
#Settings:hover{background-color:rgba(48, 239, 64, 0.45);
                cursor:pointer;
}
#Statistics:hover{background-color:rgba(255, 226, 0, 0.52);
                  cursor:pointer;
}
  input:disabled {
        background-color:rgba(232, 12, 77, 0.47);
    }
#GameDesk {

   width:600px;height:600px; 
  float:left;
   
    width: 600px;
    height: 600px;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.36);
    opacity:0;

}

#GameStatus {margin-left:650px;
            padding:5px;
            background-color:rgb(245, 245, 245);
            position:absolute;
            width:200px;
            height:330px;
            
             opacity:0;
}

#GameBox {margin-left:300px;
       
}

#ConfigGame {
    border-top:1px solid black;
      border-bottom:1px solid black;
}


.Block { margin: 0;
         width: 150px; 
         height: 105px; 
         border: 1px solid black;
         position: absolute;
         background-color: #fff;
         font-size:25px;
         text-align:center;
         padding-top:45px;
         cursor:pointer;
         z-index:2;
}

.Block:hover {
    background-color: rgba(0, 223, 255, 0.50);
}

#WinBlock { position: absolute; 
            border: 1px solid black; 
            padding: 10px;
}

#NumberSteps {
                width:100%;
                height:100%;
                font-size:140px;
                text-align:center;
              
}
#SaveGameStatus {
    height:43px;
    padding:1px;
    padding-bottom:7px;
      border-bottom:1px solid black;

}

#Bigblocku
{width:602px;height:602px; 
    position:absolute;
    background-color:rgba(151, 151, 151, 0.92);
    z-index:3;

}
#Bigblocku22
{width:602px;height:602px; 
    position:absolute;
   
    z-index:3;

}


#centerForm 
{
    width:320px;
    margin-left:150px;
margin-top:250px;


}
#krestik {
    margin-top:5px;
    border:1px solid black;
    position:absolute;
    margin-left:578px;

}
#krestik:hover {
    background-color:rgba(0, 0, 0, 0.23);
    cursor:pointer;

}
#ChangePhotoTrig {background-color:rgba(0, 0, 0, 0.37); height:35px; padding-top:15px; margin-top:100px; opacity:0; 
cursor:pointer;text-align:center; color:white;

}
#CPicture {

    border:1px solid black; margin:auto;
    height:400px; background-color:white;
    cursor:  none;
    
      overflow: hidden;
}
#CPdanger {
    width:60%; margin:auto; margin-top:60px;margin-bottom:10px;
    background-color:rgba(255, 255, 255, 0.76); padding:5px;
  
}

#innerCabinetPhoto {width:117px;
               height:170px;
               border:1px solid black;
               position:  absolute;
               background-color:rgba(255, 255, 255, 0.5);
                 
               
}
#BlockChoosePicture {
    display:none;
      background-color:white;
   
}
#picsTable {
    width:100%;
    background-color:white;
}

#picsTable td {
   
    text-align:center;
   
}

#picsTable td:hover {
    background-color:rgba(0, 223, 255, 0.56);
     
    cursor:pointer;
}

#GameHelp {background-color:rgba(48, 239, 64, 0.32);
        
          text-align:center;
          font-size: 30px;
          font-weight:400;
          width:150px;
          height:50px;
          float:left;
          margin-top:-50px;
          margin-left:-150px;
            cursor:help;
          
      
         
          z-index:0;
}
#DownloadphotoA {
    display:none;
}

#WarningCBlock {
    background-color:white;
  
    margin:auto;
    width:350px;
    text-align:center;
    margin-top:200px;
    margin-left:100px;
    float:left;
    padding:2px;

}

#ConfigBtnGS {
    background-position:9px 9px;
    width:40px;
    height:40px;
    background-color:white;
    background-image:url("/content/settings.jpg");
    background-repeat:no-repeat;
}

/* 
    HPp exp
    */

 #HpExpBar { margin-top:182px;
                

                width: 200px;
                height: 55px;
            }
             #HpBar {
             padding:2px;
            
                width: 100%;
                height: 15px;
            }
             #ExpBar {
                padding: 2px;
                width: 100%;
                height: 26px;
            }
            #SelfHPBar {
              margin-top:4px;
              margin-right: 8px;
                float: right;
               width: 160px;
            }
            #HaveHpBar {
                height: 13px;
                border-bottom-left-radius:2px;
                 border-top-left-radius: 2px;
            float:left;
            background-color: rgba(255, 0, 0, 0.71);
            }
            #MissHpBar {
                 height: 13px;
               border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                float: right;
                background-color: rgba(189, 0, 0, 0.81);
            }
            
               #HaveExpBar {
                height: 13px;
                border-bottom-left-radius:2px;
                 border-top-left-radius: 2px;
            float:left;
            background-color: rgba(197, 0, 255, 0.84);
            }
            #MissExpBar {
                 height: 13px;
               border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                float: right;
                background-color: rgba(131, 0, 136, 0.90);
            }
            
            #NumbersHE {
                position:absolute; color:white;
                padding: 0;
                font-size: 12px;
                font-family: 'Comic Sans MS';
                margin-top: -3px;
                margin-left: 60px;
            }
              
            #NumbersXE {
                position:absolute; color:white;
                padding: 0;
                font-size: 12px;
                font-family: 'Comic Sans MS';
                margin-top: -3px;
                margin-left: 60px;
            }


            /* 
    HPp exp end
    */

#SpanLevelChange {
    position: absolute;
}
#topResultsTable {
    width:80%;
    margin-top:50px;
    margin-left:50px;
    background-color:white;
}

#topResultsTable tr:nth-child(2n+2)
{
   
    background-color: rgba(0, 255, 21, 0.16);
}
#topResultsTable td
{
   
   text-align:center;
    
}


#topResultsTable tr:nth-child(2)
{   height:30px;
   background-color: white;
  background-image:url('/content/Top_gold.jpg');
  background-repeat:no-repeat;
}

#topResultsTable tr:nth-child(3)
{ height:30px;
   background-color: white;
   background-image:url('/content/Top_silver.jpg');
    background-repeat:no-repeat;
}

#topResultsTable tr:nth-child(4)
{ height:30px;
   background-color: white;
    background-image:url('/content/Top_bronse.jpg');
     background-repeat:no-repeat;
}